<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid navbar-brand">
    Patrick Porter
      <div class="navbar-nav">
        <a class="nav-link aria-current" href="index.html">Home</a>
        <a class="nav-link aria-current" href="about.html">About Me</a>
        <a class="nav-link aria-current" href="resume.html">Resume</a>
        <a class="nav-link aria-current" href="Projects.html">Projects</a>
        <a class="nav-link aria-current" href="contact.html">Contact</a>
      </div>
    </div>
</nav>