/* Print Styles */
@media print {
  nav,
  .no-print {
    display: none !important;
  }

  body {
    background: white;
    color: black;
  }

  @page {
    margin: 1in;
  }
  #navbar {
    position: fixed; /* or sticky */
    top: 0;
    width: 100%;
  }
}
